:root {
  --main-color: #222222;
  --extra-text-color: #565148;
  --accent-color: #ed4b5e;
  --extra-accent-color: #ffeff0;
}

@font-face {
  font-family: 'Grotesk';
  src: local('./assets/fonts/anzeigengrot.ttf'), url('./assets/fonts/anzeigengrot.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('./assets/fonts/Inter-Medium.ttf'), url('./assets/fonts/Inter-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

html,
body {
  font-family: 'Grotesk';
  color: var(--main-color);
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}

body.menu-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.slick-dots {
  position: static;
  margin-top: 36px;
}

.slick-dots li button:before {
  font-size: 15px;
}
